{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>T&Cs page</h1>
      <p>These are te terms and conditions</p>
      <p>More terms</p>
    </div>
  </div>
</div>
{{end}}